@using Kinetic.Core.Entities.Space;
@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Space>

<div class="">
    <ul>
        @foreach(var space in Model)
        {
            <li>@space.Name</li>
        }
    </ul>
</div>
