@using Kinetic.Core.Entities;
@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<User>

<div class="text-center">
    <ul>
        @foreach(var space in Model)
        {
            <li>@space.FirstName</li>
        }
    </ul>
</div>
