@using Kinetic.Application.DTO
@using Kinetic.Core.Entities.Space
@{
    ViewData["Title"] = "Home Page";
}

@model IList<SpaceDTO>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        @foreach (SpaceDTO spaceDTO in Model)
        {
            <li class="nav-item">
                <a class="nav-link space-link" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    @spaceDTO.Name
                    <p class="hidden-id" style="display:none">@spaceDTO.Id</p>
                </a>
            </li>
        }
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>

<script>
    $('.space-link').click(function (event) {
        console.log("clicked")
        console.log(event)

        spaceId = event.target.getElementsByTagName("p")[0].innerText
        url = "/space/" + spaceId + "/tickets"
        $.get(url, function (data) {
            $("#ticket-list-container").html(data);
        });
    });
</script>
