@using Kinetic.Core.Entities;
@{
    ViewData["Title"] = "Home Page";
}
@model User

<div class="">
    <form>
        <div class="mb-3">
            <label for="FirstNameInput" class="form-label">First name</label>
            <input type="text" class="form-control" id="FirstNameInput">
        </div>
        <div class="mb-3">
            <label for="LastNameInput" class="form-label">First name</label>
            <input type="text" class="form-control" id="LastNameInput">
        </div>
@*         <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> *@
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
